@page "/"
@rendermode InteractiveServer

<PageTitle>Productos</PageTitle>
Hola, un placer verte!!

Bienvenido al Menu de Productos de El Sazon, ve al catalogo, selecciona los productos para añadir al carrito y ver cotizaciones.
<p></p>

<div class="container" style="max-width: 350px;">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/costillasBBQ.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Comida Rica</h5>
                    <p>Deleita tu paladar con nuestro rico "Sazon".</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/Pozole.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Ingredientes de Calidad</h5>
                    <p>Ten la seguridad de que te ofrecemos ingredientes de primera calidad.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/Lasagna.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Siempre disponibles para lo que necesites</h5>
                    <p>Ya sea para una comida entre amigos o un fiesta estaremos esperando tu preferencia.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>  
</div>